article > section > div > img{
    max-height: 250px;
}

#eevee{
    width: 60px;
    height: 60px;
}

#cart, #user, #bell{
    width: 40px;
    height: 40px;
    margin-top: 12px;
}

#user{
    border-radius: 100%;
}

#iscriviti{
    margin-right: 4%;
}

#accedi{
    margin-right: 1%;
}

header a, header a:hover, header a:visited, header a:active{
    color:inherit;
    text-decoration: none;
}

header h1{
    margin-left: 2%;
}

header button{
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid silver;
    width: 100px;
}

header button:hover{
    background-color: silver;
    transition-duration: 0.4s;
}

section {
    font-size: 120%
}

#menu{
    margin-top: 25%;
}

input[type=file]:hover{
    cursor: pointer;
}

#titolo-home{
    font-size: 40px;
}


@media screen and (max-width:600px){
    header h1{
        font-size: 28px;
        margin-left: 1%;
    }

    #eevee{
        width: 40px;
        height: 40px;
        margin-top: 4px;
    }

    header button{
        width: 56px;
        font-size: 14px;
    }

    #cart, #user, #bell{
        margin-top: 10px;
        width: 30px;
        height: 30px;
    }

    #accedi, #iscriviti{
        margin-right: 1%;
    }

    #menu{
        margin-top: 30%;
    }

    #titolo-home{
        font-size: 25px;
    }
}
